In [1]:
import pandas as pd

In [84]:
from collections import defaultdict

# functions

In [2]:
def edit_distance(str1, str2):
    m, n = len(str1), len(str2)
    dp = [[0] * (n + 1) for _ in range(m + 1)]
    
    for i in range(m + 1):
        for j in range(n + 1):
            if i == 0:
                dp[i][j] = j
            elif j == 0:
                dp[i][j] = i
            elif str1[i - 1] == str2[j - 1]:
                dp[i][j] = dp[i - 1][j - 1]
            else:
                dp[i][j] = 1 + min(dp[i - 1][j], dp[i][j - 1], dp[i - 1][j - 1])
    
    # Reconstruct aligned strings
    aligned_str1, aligned_str2 = "", ""
    i, j = m, n
    while i > 0 or j > 0:
        if i > 0 and dp[i][j] == dp[i - 1][j] + 1:
            aligned_str1 = str1[i - 1] + aligned_str1
            aligned_str2 = "*" + aligned_str2
            i -= 1
        elif j > 0 and dp[i][j] == dp[i][j - 1] + 1:
            aligned_str1 = "*" + aligned_str1
            aligned_str2 = str2[j - 1] + aligned_str2
            j -= 1
        else:
            aligned_str1 = str1[i - 1] + aligned_str1
            aligned_str2 = str2[j - 1] + aligned_str2
            i -= 1
            j -= 1
    
    return dp[m][n], aligned_str1, aligned_str2

In [3]:
def get_aligned_strings(str1,str2):
    distance, aligned_str1, aligned_str2 = edit_distance(str1, str2)
    # print(f"Edit distance between '{str1}' and '{str2}': {distance}")
    print(f"Aligned strings:\n{aligned_str1}\n{aligned_str2}")
    return aligned_str1, aligned_str2

In [59]:
def get_acc_count_and_support(string_tuple):
    # string_tuple = (gt_str, pred_str)
    gt_list = []
    pred_list = []

    gt_list[:] = string_tuple[0]
    pred_list[:] = string_tuple[1]

    for i in range(0, len(gt_list)):
        placewise_support_tenant_number[str(i+1)]+=1
        classwise_support_tenant_number[gt_list[i]]+=1
        
        if gt_list[i]==pred_list[i]:
            placewise_accuracy_tenant_number[str(i+1)]+=1
            classwise_accuracy_tenant_number[gt_list[i]]+=1

# Example

In [4]:
predicted_tenant_list = [
    "E-444-A", # incorrect additional value in the middle
    "E-32-C", # invisible letter also predicted
    "E-9-W", # correct 
    "W-51-C", # correct but there is a white space
    "W--13-B", # additional first -
    "11--52-D", # tower letter incorrect should be E
    "W-7-B", # last letter wrong
    "-5-C" # tower letter not predicted
]

ground_truth_tenant_list = [
    "E-44-A", # correct
    "E-32- ", # last letter is nnot visible
    "E-9-W", # correct
    "W-51-C", # correct no white sapce
    "W-13-B", # incorrct- addtional -
    "E-52-D", # incorrect
    "W-7-A", # last letter wrong
    "E-5-C", #tower letter not predicted
]

In [156]:
df = pd.DataFrame(data={"pred_tenant_no": predicted_tenant_list,
                        "gt_tenant_no": ground_truth_tenant_list})

In [55]:
df.sample(5)

  pred_tenant_no gt_tenant_no
5       11--52-D       E-52-D
7           -5-C        E-5-C
2          E-9-W        E-9-W
4        W--13-B       W-13-B
6          W-7-B        W-7-A

In [81]:
placewise_accuracy_tenant_number = {
    '1': 0,
    '2': 0,
    '3': 0,
    '4': 0,
    '5': 0,
    '6': 0,
    '7': 0,
    '8': 0,
    '9': 0
}

placewise_support_tenant_number = {
    '1': 0,
    '2': 0,
    '3': 0,
    '4': 0,
    '5': 0,
    '6': 0,
    '7': 0,
    '8': 0,
    '9': 0
}

classwise_accuracy_tenant_number = {'Electricity Meter': 0,
 'Water Meter': 0,
 'Tenant Number': 0,
 'Meter Reading': 0,
 '0': 0,
 '1': 0,
 '2': 0,
 '3': 0,
 '4': 0,
 '5': 0,
 '6': 0,
 '7': 0,
 '8': 0,
 '9': 0,
 '-': 0,
 '.': 0,
 'E': 0,
 'A': 0,
 'B': 0,
 'C': 0,
 'D': 0,
 'F': 0,
 'G': 0,
 'H': 0,
 'I': 0,
 'J': 0,
 'K': 0,
 'L': 0,
 'M': 0,
 'N': 0,
 'O': 0,
 'P': 0,
 'Q': 0,
 'S': 0,
 'T': 0,
 'U': 0,
 'V': 0,
 'W': 0,
 'X': 0,
 'Y': 0,
 'Z': 0,
 ' ': 0,
 '*': 0}

classwise_support_tenant_number = {'Electricity Meter': 0,
 'Water Meter': 0,
 'Tenant Number': 0,
 'Meter Reading': 0,
 '0': 0,
 '1': 0,
 '2': 0,
 '3': 0,
 '4': 0,
 '5': 0,
 '6': 0,
 '7': 0,
 '8': 0,
 '9': 0,
 '-': 0,
 '.': 0,
 'E': 0,
 'A': 0,
 'B': 0,
 'C': 0,
 'D': 0,
 'F': 0,
 'G': 0,
 'H': 0,
 'I': 0,
 'J': 0,
 'K': 0,
 'L': 0,
 'M': 0,
 'N': 0,
 'O': 0,
 'P': 0,
 'Q': 0,
 'S': 0,
 'T': 0,
 'U': 0,
 'V': 0,
 'W': 0,
 'X': 0,
 'Y': 0,
 'Z': 0,
 ' ': 0,
 '*': 0}

In [83]:
df2 = df.apply(lambda x: get_acc_count_and_support(get_aligned_strings(x['pred_tenant_no'],x['gt_tenant_no'])), axis=1)

Aligned strings:
E-444-A
E-44*-A
Aligned strings:
E-32-C
E-32-
Aligned strings:
E-9-W
E-9-W
Aligned strings:
W-51-C
W-51-C
Aligned strings:
W--13-B
W-*13-B
Aligned strings:
11--52-D
E*-*52-D
Aligned strings:
W-7-B
W-7-A
Aligned strings:
*-5-C
E-5-C

In [69]:
for key in placewise_accuracy_tenant_number.keys():
    if placewise_support_tenant_number[key] !=0:
        placewise_accuracy_tenant_number[key]/=placewise_support_tenant_number[key]

In [ ]:
for key in classwise_support_tenant_number.keys():
    if classwise_support_tenant_number[key] !=0:
        classwise_accuracy_tenant_number[key]/=classwise_support_tenant_number[key]

# Class for generating

In [85]:
from collections import defaultdict

In [183]:
class Evals:

    def __init__(self, reading_name):
        self.placewise_accuracy = defaultdict(lambda:0)
        self.classwise_accuracy = defaultdict(lambda:0)
        self.classwise_accurate_count = defaultdict(lambda:0)

        self.placewise_support = defaultdict(lambda:0)
        self.classwise_support = defaultdict(lambda:0)
        self.placewise_accurate_count = defaultdict(lambda:0)

        self.reading_name = reading_name.replace(" ","_")

    def get_evals(self, df):
        '''
        The first column of the dataframe should be image name, the second should be predicted value column, 
        and the third should be the ground truth value column
        '''
        pred_column = df.columns[0]
        gt_column = df.columns[1]

        df2 = df.apply(lambda x: self.get_acc_count_and_support(self.get_aligned_strings(x[pred_column],x[gt_column])), axis=1)

        self.calculate_accuracy()
        self.print_evals()

        df[f"{self.reading_name}_match"] = df.apply(lambda x: x[pred_column]==x[gt_column], axis=1)
        
        return df

    def get_aligned_strings(self, pred_str, gt_str):
        distance, aligned_pred, aligned_gt = edit_distance(pred_str, gt_str)
        print(f"Aligned strings:\n\tpredicted: {aligned_pred}\n\tground truth:  {aligned_gt}")
        return aligned_pred, aligned_gt
    
    def get_acc_count_and_support(self, string_tuple):
        gt_list = []
        pred_list = []

        pred_list[:] = string_tuple[0]
        gt_list[:] = string_tuple[1]

        for i in range(0, len(gt_list)):
            self.placewise_support[str(i+1)]+=1
            self.classwise_support[gt_list[i]]+=1
            
            if gt_list[i]==pred_list[i]:
                self.placewise_accuracy[str(i+1)]+=1
                self.classwise_accuracy[gt_list[i]]+=1

                self.classwise_accurate_count[gt_list[i]]+=1
                self.placewise_accurate_count[str(i+1)]+=1


    def calculate_accuracy(self):
        for key in self.placewise_accuracy.keys():
            if self.placewise_support[key] !=0:
                self.placewise_accuracy[key]/=self.placewise_support[key]
        
        for key in self.classwise_support.keys():
            if self.classwise_support[key] !=0:
                self.classwise_accuracy[key]/=self.classwise_support[key]

    def print_evals(self):
        print(f"placewise accuracy of the {self.reading_name} \n", dict(self.placewise_accuracy))
        print(f"placewise support of the {self.reading_name} \n", dict(self.placewise_support))
        print(f"placewise accurate count of the {self.reading_name} \n", dict(self.placewise_accurate_count))

        print(f"classwise accuracy of the {self.reading_name} \n", dict(self.classwise_accuracy))
        print(f"classwise support of the {self.reading_name} \n", dict(self.classwise_support))
        print(f"classwise accurate count of the {self.reading_name} \n", dict(self.classwise_accurate_count))

In [184]:
eval = Evals('tenant number')

In [185]:
new_df = eval.get_evals(df)

Aligned strings:
	predicted: E-444-A
	ground truth:  E-44*-A
Aligned strings:
	predicted: E-32-C
	ground truth:  E-32-
Aligned strings:
	predicted: E-9-W
	ground truth:  E-9-W
Aligned strings:
	predicted: W-51-C
	ground truth:  W-51-C
Aligned strings:
	predicted: W--13-B
	ground truth:  W-*13-B
Aligned strings:
	predicted: 11--52-D
	ground truth:  E*-*52-D
Aligned strings:
	predicted: W-7-B
	ground truth:  W-7-A
Aligned strings:
	predicted: *-5-C
	ground truth:  E-5-C
placewise accuracy of the tenant_number
 {'1': 0.75, '2': 0.875, '3': 0.875, '4': 0.875, '6': 0.8, '7': 1.0, '5': 0.75, '8': 1.0}
placewise support of the tenant_number
 {'1': 8, '2': 8, '3': 8, '4': 8, '5': 8, '6': 5, '7': 3, '8': 1}
placewise accurate count of the tenant_number
 {'1': 6, '2': 7, '3': 7, '4': 7, '6': 4, '7': 3, '5': 6, '8': 1}
classwise accuracy of the tenant_number
 {'E': 0.6, '-': 1.0, '4': 1.0, 'A': 0.5, '3': 1.0, '2': 1.0, '9': 1.0, 'W': 1.0, '5': 1.0, '1': 1.0, 'C': 1.0, 'B': 1.0, 'D': 1.0, '7': 1.0, '*': 0.0, ' ': 0.0}
classwise support of the tenant_number
 {'E': 5, '-': 16, '4': 2, '*': 4, 'A': 2, '3': 2, '2': 2, ' ': 1, '9': 1, 'W': 4, '5': 3, '1': 2, 'C': 2, 'B': 1, 'D': 1, '7': 1}
classwise accurate count of the tenant_number
 {'E': 3, '-': 16, '4': 2, 'A': 1, '3': 2, '2': 2, '9': 1, 'W': 4, '5': 3, '1': 2, 'C': 2, 'B': 1, 'D': 1, '7': 1}

In [164]:
# new_df

  pred_tenant_no gt_tenant_no  tenant_number_match
0        E-444-A       E-44-A                False
1         E-32-C       E-32-                 False
2          E-9-W        E-9-W                 True
3         W-51-C       W-51-C                 True
4        W--13-B       W-13-B                False
5       11--52-D       E-52-D                False
6          W-7-B        W-7-A                False
7           -5-C        E-5-C                False

## metrics on the dataset

In [165]:
df_ = pd.read_csv("../temp/data/val_resultsV2.4.csv")

In [166]:
df_

,image_name,pred_meter_reading,pred_tenant_number,meter_reading_match,tenant_number_match,meter_type,gt_meter_reading,gt_tenant_number
0,2023_12_24_electricity_d8a27651-fedd-11ee-a1d3...,5079.36,W-42-C,True,True,electricity,5079.36,W-42-C
1,2023_12_06_water_6b594a0a-fe4a-11ee-9e38-00155...,00849,E-10-C,True,True,water,00849,E-10-C
2,2023_10_26_water_d91aa7f7-fedd-11ee-a358-00155...,00175,E-12-B,True,False,water,00175,E--2-B
3,2024_01_25_water_da1da5bf-fedd-11ee-9019-00155...,01181,W-49-B,True,True,water,01181,W-49-B
4,2023_12_24_water_54ae665a-fe45-11ee-bdce-00155...,00582,W-38-A,False,True,water,0058,W-38-A
...,...,...,...,...,...,...,...,...
271,2024_03_25_electricity_348f4ac6-fda6-11ee-886b...,681.68,W-11-B,True,True,electricity,681.68,W-11-B
272,2023_10_25_water_d92b2e91-fedd-11ee-993e-00155...,02001,W-52-A,True,True,water,02001,W-52-A
273,2023_12_24_water_54aedcdf-fe45-11ee-b84a-00155...,00104,W-32-D,False,True,water,0010,W-32-D
274,2023_12_24_electricity_d869bae6-fedd-11ee-ae54...,2239.82,E-36-A,True,False,electricity,2239.82,E-36-A
275,2023_10_26_water_d90abdac-fedd-11ee-b322-00155...,00018,E-41-C,True,True,water,00018,E-41-C

df - > image name

# test

## dataframes

In [76]:
df['tenet_number_match'] = df.apply(lambda x: x['pred_tenant_no']==x['gt_tenant_no'], axis=1)

In [77]:
df.sample(3)

  pred_tenant_no gt_tenant_no  tenet_number_match
7           -5-C        E-5-C               False
4        W--13-B       W-13-B               False
5       11--52-D       E-52-D               False

In [80]:
df['tenet_number_match'].value_counts()

tenet_number_match
False    6
True     2
Name: count, dtype: int64

In [124]:
lis = df.columns
lis

Index(['pred_tenant_no', 'gt_tenant_no', 'tenet_number_match'], dtype='object')

## strings

### string to list

In [93]:
st = "  test  string  "
st2 = "  test  string  2 "

In [9]:
lst = []
lst[:] = st
lst

[' ',
 ' ',
 't',
 'e',
 's',
 't',
 ' ',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 ' ',
 ' ']

In [94]:
st.split()

['test', 'string']

### new line

In [95]:
print("reading\nname")

reading
name

In [179]:
print("reading\n\tname")

reading
	name

### replace

In [158]:
st = " dis joined string"

In [159]:
st.replace(" ","_")

'_dis_joined_string'

## list of ground truth and predictions

In [12]:
for i in range(0, len(ground_truth_tenant_list)):
    get_aligned_strings(ground_truth_tenant_list[i],predicted_tenant_list[i])

Aligned strings:
E-44*-A
E-444-A
Aligned strings:
E-32-
E-32-C
Aligned strings:
E-9-W
E-9-W
Aligned strings:
W-51-C
W-51-C
Aligned strings:
W-*13-B
W--13-B
Aligned strings:
E*-*52-D
11--52-D
Aligned strings:
W-7-A
W-7-B
Aligned strings:
E-5-C
*-5-C

In [41]:
get_acc_count_and_support('W-*13-B','W--13-B')

In [65]:
classwise_accuracy_tenant_number

{'Electricity Meter': 0,
 'Water Meter': 0,
 'Tenant Number': 0,
 'Meter Reading': 0,
 '0': 0,
 '1': 2,
 '2': 2,
 '3': 2,
 '4': 2,
 '5': 3,
 '6': 0,
 '7': 1,
 '8': 0,
 '9': 1,
 '-': 16,
 '.': 0,
 'E': 3,
 'A': 1,
 'B': 1,
 'C': 2,
 'D': 1,
 'F': 0,
 'G': 0,
 'H': 0,
 'I': 0,
 'J': 0,
 'K': 0,
 'L': 0,
 'M': 0,
 'N': 0,
 'O': 0,
 'P': 0,
 'Q': 0,
 'S': 0,
 'T': 0,
 'U': 0,
 'V': 0,
 'W': 4,
 'X': 0,
 'Y': 0,
 'Z': 0,
 ' ': 0,
 '*': 0}

In [71]:
placewise_accuracy_tenant_number

{'1': 0.75,
 '2': 0.875,
 '3': 0.875,
 '4': 0.875,
 '5': 0.75,
 '6': 0.8,
 '7': 1.0,
 '8': 1.0,
 '9': 0}

In [72]:
classwise_support_tenant_number

{'Electricity Meter': 0,
 'Water Meter': 0,
 'Tenant Number': 0,
 'Meter Reading': 0,
 '0': 0,
 '1': 4,
 '2': 2,
 '3': 2,
 '4': 3,
 '5': 3,
 '6': 0,
 '7': 1,
 '8': 0,
 '9': 1,
 '-': 18,
 '.': 0,
 'E': 3,
 'A': 1,
 'B': 2,
 'C': 3,
 'D': 1,
 'F': 0,
 'G': 0,
 'H': 0,
 'I': 0,
 'J': 0,
 'K': 0,
 'L': 0,
 'M': 0,
 'N': 0,
 'O': 0,
 'P': 0,
 'Q': 0,
 'S': 0,
 'T': 0,
 'U': 0,
 'V': 0,
 'W': 4,
 'X': 0,
 'Y': 0,
 'Z': 0,
 ' ': 0,
 '*': 1}

In [73]:
placewise_support_tenant_number

{'1': 8, '2': 8, '3': 8, '4': 8, '5': 8, '6': 5, '7': 3, '8': 1, '9': 0}

In [74]:
classwise_accuracy_tenant_number

{'Electricity Meter': 0,
 'Water Meter': 0,
 'Tenant Number': 0,
 'Meter Reading': 0,
 '0': 0,
 '1': 0.5,
 '2': 1.0,
 '3': 1.0,
 '4': 0.6666666666666666,
 '5': 1.0,
 '6': 0,
 '7': 1.0,
 '8': 0,
 '9': 1.0,
 '-': 0.8888888888888888,
 '.': 0,
 'E': 1.0,
 'A': 1.0,
 'B': 0.5,
 'C': 0.6666666666666666,
 'D': 1.0,
 'F': 0,
 'G': 0,
 'H': 0,
 'I': 0,
 'J': 0,
 'K': 0,
 'L': 0,
 'M': 0,
 'N': 0,
 'O': 0,
 'P': 0,
 'Q': 0,
 'S': 0,
 'T': 0,
 'U': 0,
 'V': 0,
 'W': 1.0,
 'X': 0,
 'Y': 0,
 'Z': 0,
 ' ': 0,
 '*': 0.0}

## getting accuracy from the correct count and support

In [47]:
for key in placewise_accuracy_tenant_number.keys():
    if classwise_support_tenant_number[key] !=0:
        placewise_accuracy_tenant_number[key]/=placewise_support_tenant_number[key]

In [70]:
for key in classwise_support_tenant_number.keys():
    if classwise_support_tenant_number[key] !=0:
        classwise_accuracy_tenant_number[key]/=classwise_support_tenant_number[key]

In [48]:
placewise_accuracy_tenant_number

{'1': 1.0, '2': 1.0, '3': 0.0, '4': 0.5, '5': 1.0, '6': 1.0, '7': 1.0}

In [38]:
placewise_accuracy_tenant_number

{'1': 1.0, '2': 1.0, '3': 0.0, '4': 1.0, '5': 1.0, '6': 1.0, '7': 1.0}

## dictionaries

### cat list

In [17]:
cat_temp_dict = {cat['name']:0 for cat in cat_list}

In [18]:
cat_temp_dict

{'Electricity Meter': 0,
 'Water Meter': 0,
 'Tenant Number': 0,
 'Meter Reading': 0,
 '0': 0,
 '1': 0,
 '2': 0,
 '3': 0,
 '4': 0,
 '5': 0,
 '6': 0,
 '7': 0,
 '8': 0,
 '9': 0,
 '-': 0,
 '.': 0,
 'E': 0,
 'A': 0,
 'B': 0,
 'C': 0,
 'D': 0,
 'F': 0,
 'G': 0,
 'H': 0,
 'I': 0,
 'J': 0,
 'K': 0,
 'L': 0,
 'M': 0,
 'N': 0,
 'O': 0,
 'P': 0,
 'Q': 0,
 'S': 0,
 'T': 0,
 'U': 0,
 'V': 0,
 'W': 0,
 'X': 0,
 'Y': 0,
 'Z': 0}

In [ ]:
cat_list=[
        {
            "id": 0,
            "name": "Electricity Meter",
            "supercategory": "object"
        },
        {
            "id": 1,
            "name": "Water Meter",
            "supercategory": "object"
        },
        {
            "id": 2,
            "name": "Tenant Number",
            "supercategory": "object"
        },
        {
            "id": 3,
            "name": "Meter Reading",
            "supercategory": "object"
        },
        {
            "id": 4,
            "name": "0",
            "supercategory": "object"
        },
        {
            "id": 5,
            "name": "1",
            "supercategory": "object"
        },
        {
            "id": 6,
            "name": "2",
            "supercategory": "object"
        },
        {
            "id": 7,
            "name": "3",
            "supercategory": "object"
        },
        {
            "id": 8,
            "name": "4",
            "supercategory": "object"
        },
        {
            "id": 9,
            "name": "5",
            "supercategory": "object"
        },
        {
            "id": 10,
            "name": "6",
            "supercategory": "object"
        },
        {
            "id": 11,
            "name": "7",
            "supercategory": "object"
        },
        {
            "id": 12,
            "name": "8",
            "supercategory": "object"
        },
        {
            "id": 13,
            "name": "9",
            "supercategory": "object"
        },
        {
            "id": 14,
            "name": "-",
            "supercategory": "object"
        },
        {
            "id": 15,
            "name": ".",
            "supercategory": "object"
        },
        {
            "id": 16,
            "name": "E",
            "supercategory": "object"
        },
        {
            "id": 17,
            "name": "A",
            "supercategory": "object"
        },
        {
            "id": 18,
            "name": "B",
            "supercategory": "object"
        },
        {
            "id": 19,
            "name": "C",
            "supercategory": "object"
        },
        {
            "id": 20,
            "name": "D",
            "supercategory": "object"
        },
        {
            "id": 21,
            "name": "F",
            "supercategory": "object"
        },
        {
            "id": 22,
            "name": "G",
            "supercategory": "object"
        },
        {
            "id": 23,
            "name": "H",
            "supercategory": "object"
        },
        {
            "id": 24,
            "name": "I",
            "supercategory": "object"
        },
        {
            "id": 25,
            "name": "J",
            "supercategory": "object"
        },
        {
            "id": 26,
            "name": "K",
            "supercategory": "object"
        },
        {
            "id": 27,
            "name": "L",
            "supercategory": "object"
        },
        {
            "id": 28,
            "name": "M",
            "supercategory": "object"
        },
        {
            "id": 29,
            "name": "N",
            "supercategory": "object"
        },
        {
            "id": 30,
            "name": "O",
            "supercategory": "object"
        },
        {
            "id": 31,
            "name": "P",
            "supercategory": "object"
        },
        {
            "id": 32,
            "name": "Q",
            "supercategory": "object"
        },
        {
            "id": 33,
            "name": "S",
            "supercategory": "object"
        },
        {
            "id": 34,
            "name": "T",
            "supercategory": "object"
        },
        {
            "id": 35,
            "name": "U",
            "supercategory": "object"
        },
        {
            "id": 36,
            "name": "V",
            "supercategory": "object"
        },
        {
            "id": 37,
            "name": "W",
            "supercategory": "object"
        },
        {
            "id": 38,
            "name": "X",
            "supercategory": "object"
        },
        {
            "id": 39,
            "name": "Y",
            "supercategory": "object"
        },
        {
            "id": 40,
            "name": "Z",
            "supercategory": "object"
        }]

### default dict

In [86]:
dic_ = defaultdict(lambda:0)
dic_

defaultdict(<function __main__.<lambda>()>, {})

In [88]:
dic_['0']

0

In [92]:
dic_

defaultdict(<function __main__.<lambda>()>, {'0': 0, 1: 0})